<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- CSS -->
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} " />

    <link rel="stylesheet" href=" {% static 'css/custom.css' %} " />
    <link rel="stylesheet" href=" {% static 'css/login.css' %} " />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Login</title>
    
  </head>
  <body class="d-flex">
    <header>
      <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-custom">
        <div class="container">
          <span class="navbar-brand mr-0 mr-md-5">Sekolah Skullers</span>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav text-center p-0">
              <a
                href="../../leaderboard"
                id="leaderboard"
                class="nav-item nav-link mr-md-3"
                >Leaderboard</a
              >
              <a href="../../profile" id="profile" class="nav-item nav-link mr-md-3"
                >Profile</a
              >
            </div>
          </div>
        </div>
      </nav>
    </header>
            <!-- UNTUK SESI LOGIN -->

    <div class="left">
      <img src=" {% static 'img/logo_sekolah_skullers.png' %} " alt="sekolah-skullers">
    </div>
    <div class="right">
      <div class="m-3">
        <h1 class="text-center">Login</h1>
        <form action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="nim">NIM</label>
            <input
              type="text"
              class="form-control"
              name="{{form.username.html_name}}"
              id="{{form.username.id_for_label}}"
              placeholder="Masukkan NIM"
            />
            <small class="form-text text-muted">Ex. 13319001</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
              <input
                type="password"
                name="{{form.password.html_name}}"
                id="{{form.password.id_for_label}}"
                class="form-control"
                data-toggle="password"
                placeholder="Masukkan Password"
              />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-eye"></i></span>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-custom-dark">Login</button>
        </form>
        <p class="text-center mt-2 mb-0">Tidak punya akun? <a href="{% url 'register'%}">Register</a></p>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src=" {% static 'js/jquery-3.5.1.slim.min.js' %} "></script>
    <script src=" {% static 'js/popper.min.js' %} "></script>
    <script src=" {% static 'js/bootstrap.min.js' %} "></script>

    <script src=" {% static 'js/bootstrap-show-password.min.js' %} "></script>
  </body>
</html>
