<!DOCTYPE html>
<html >
<head>
    <title>Nilai</title>
</head>
<body>
    <h1>Ini Laman Nilai</h1>

    {% block content %}
    <a href="{% url 'leaderboard'%}">Click here to logged out.</a>
    {% endblock %}

    <h3>Statusmu Sekarang!</h3>
    <p>Kepemimpinan : {{kepemimpinan}}</p>
    <p>Nasionalisme : {{nasionalisme}}</p>
    <p>Kebermanfaatan : {{kebermanfaatan}}</p>
    <p>Keilmuan : {{keilmuan}}</p>
    <p>Adaptif: {{adaptif}}</p>
    <p>Solidaritas : {{solidaritas}}</p>
    <p>Kolaboratif : {{kolaboratif}}</p>

    <p>Nilaimu minggu ini :</p>
    <h3>{{nilai}}</h3>

</body>
</html>