<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- CSS -->
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'css/font-awesome.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'css/custom.css' %} " />
    <link rel="stylesheet" href=" {% static 'css/template.css' %} " />
    <link rel="stylesheet" href=" {% static 'css/profile.css' %} " />
    <link rel="stylesheet" href=" {% static 'css/nilai.css' %} " />


    <!-- Favicon -->
    <link rel="shortcut icon" href=" {% static 'favicon.ico' %}" type="image/x-icon" />

    <title>Sekolah Skullers</title>
  </head>
  <body>
    <!-- Navbar start -->
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-custom">
            <div class="container">
              <span class="navbar-brand mr-0 mr-md-5"> Sekolah Skullers</span>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar"
                aria-controls="navbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav text-center p-0">
                  <a
                    href="../leaderboard"
                    id="leaderboard"
                    class="nav-item nav-link mr-md-3"
                    >Leaderboard</a
                  >
                  <a href="../profile" id="profile" class="nav-item nav-link mr-md-3"
                    >Profile</a
                  >
                  {% if user.is_authenticated %}
                  <a href="../nilai" id="nilai" class="nav-item nav-link mr-md-3 active"
                    >Nilai</a
                  >
                  {% endif %}
                </div>
            <!-- UNTUK SESI ANON -->
            <!-- <div class="navbar-nav ml-auto">
              <a href="#" class="btn btn-custom-light my-md-0 my-1 ml-md-3">
                <div class="container justify-content-center px-0">
                  <span>Register</span>
                </div>
              </a>
              <a href="#" class="btn btn-custom-light my-md-0 my-1 ml-md-3">
                <div class="container justify-content-center px-0">
                  <img
                    class="btn-icon mr-2"
                    src="icon/person-fill.svg"
                    alt="user"
                  />
                  <span>Login</span>
                </div>
              </a>
            </div> -->
            <!-- UNTUK SESI LOGIN -->
            <div class="navbar-nav ml-auto">
              <span class="btn btn-custom-light my-md-0 my-1 ml-md-3">
                <div class="container justify-content-center px-0">
                  <img
                    class="btn-icon mr-2"
                    src="{% static 'icon/person-check-fill.svg' %}"
                    alt="user"
                  />
                  <span>{{ user.username }}</span>
                </div>
              </span>
              <a href="../accounts/logout" class="btn btn-custom-light my-md-0 my-1 ml-md-3">
                <div class="container justify-content-center px-0">
                  <span>Logout</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- Navbar end -->

    <!-- Content start -->
    <main class="flex-shrink-0" role="main">
      <div class="container content">
        <h1 class="mb-0">Nilai</h1>
        <h2 class="text-center mb-3">Minggu ke-1</h2>
        <div class="row justify-content-center">
          <div class="col-sm-6 col-lg-4 col-xl-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img
                class="card-img-top rounded-circle img-thumbnail w-50 mx-auto mt-3"
                src=" {% static "img/foto/"|add:user.username|add:".jpg" %} "
                alt="pic"
              />
              <div class="card-body pt-2">
                <h5 class="card-title text-center mb-0">{{user.last_name}}</h5>
                <div class="container d-flex flex-column pt-3">
                  <div class="d-flex flex-column align-items-center">
                    <img
                      class="level-img img-thumbnail d-none d-sm-block mb-2"
                      width="60"
                      height="60"
                      src=" {% static "icon/level/"|add:user.student.level|add:".png" %}"
                      alt="level"
                    />
                    <span class="badge badge-pill badge-success badge-sm"
                      >{{user.student.level}}</span
                    >
                  </div>
                  <div class="d-flex align-items-center mt-2">
                    <h5 class="bar mr-2 mb-0">HP</h5>
                    <div class="progress">
                      <div
                        class="progress-bar bg-health"
                        style="width: {{user.student.hp}}%;"
                        role="progressbar"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                      {{user.student.hp}}
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center mt-2">
                    <h5 class="bar mr-2 mb-0">XP</h5>
                    <div class="progress">
                      <div
                        class="progress-bar bg-exp"
                        style="width: {{user.student.xp}}%;"
                        role="progressbar"
                        aria-valuenow="70"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                      {{user.student.xp}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-sm-6 d-flex justify-content-center justify-content-sm-start"
          >
            <div class="profile-content mb-3 mb-sm-0">
              <div class="bar-1">
                <h4>Kepemimpinan</h4>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: {{user.student.kepemimpinan}}%;"
                  >
                  {{user.student.kepemimpinan}}
                  </div>
                </div>
              </div>
              <div class="bar-2">
                <h4>Nasionalisme</h4>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: {{user.student.nasionalisme}}%;"
                  >
                    {{user.student.nasionalisme}}
                  </div>
                </div>
              </div>
              <div class="bar-3">
                <h4>Kebermanfaatan</h4>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: {{user.student.kebermanfaatan}}%;"
                  >
                    {{user.student.kebermanfaatan}}
                  </div>
                </div>
              </div>
              <div class="bar-4">
                <h4>Keilmuan Teknik Fisika</h4>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: {{user.student.keilmuan}}%;"
                  >
                    {{user.student.keilmuan}}
                  </div>
                </div>
              </div>
              <div class="bar-5">
                <h4>Adaptif</h4>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: {{user.student.adaptif}}%;"
                  >
                    {{user.student.adaptif}}
                  </div>
                </div>
              </div>
              <div class="bar-6">
                <h4>Solidaritas</h4>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: {{user.student.solidaritas}}%;"
                  >
                    {{user.student.solidaritas}}
                  </div>
                </div>
              </div>
              <div class="bar-7">
                <h4>Kolaboratif</h4>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: {{user.student.kolaboratif}}%;"
                  >
                    {{user.student.kolaboratif}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Content end -->

    <!-- Footer start -->
    <footer>
        <div class="footer">
          <div class="links flex-sm-row">
            <div class="container link justify-content-sm-end">
              <img class="mr-2" src=" {% static 'icon/globe.png' %} " alt="website" height="25" />
              <a target="_blank" href="http://hmft.tf.itb.ac.id/"
                >hmft.tf.itb.ac.id</a
              >
            </div>
            <div class="container link justify-content-sm-center">
              <img
                class="mr-2"
                src=" {% static 'icon/instagram.png' %} "
                alt="instagram"
                height="25"
              />
              <a target="_blank" href="http://instagram.com/sekolahskullers/"
                >@sekolahskullers</a
              >
            </div>
            <div class="container link justify-content-sm-start">
              <img class="mr-2" src=" {% static 'icon/twitter.png' %} " alt="twitter" width="25" />
              <a target="_blank" href="http://twitter.com/hmft_itb/">@hmft_itb</a>
            </div>
          </div>
          <p>&copy; 2020 HMFT-ITB</p>
          <div class="img my-sm-2">
            <img src=" {% static 'img/logo_hmft_sq.png' %} " alt="hmft" width="70" />
            <img
              src=" {% static 'img/logo_sekolah_skullers_sq.png' %} "
              alt="sekolah-skullers"
              width="80"
            />
            <img src=" {% static 'img/logo_skullers_sq.png' %} " alt="skullers" width="70" />
          </div>
        </div>
      </footer>
    <!-- Footer end -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/template.js"></script>
    <script src="js/bootstrap-show-password.min.js"></script>
  </body>
</html>
