{% extends './base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/leveling.css' %}">
{% endblock css %}

{% block main %}
<main class="flex-shrink-0" role="main">
  <div class="container content">
    <h1>Angkatan</h1>
    <div class="angkatan row justify-content-center">
      <div class="bg_image">
        {% comment %} <img src="{% static 'img/logo_hmft.png' %}" alt="Avatar" class="image">
        <div class="overlay" style="width: 37%">
          <img src="{% static 'img/logo_hmft.png' %}" alt="Avatar">
        </div> {% endcomment %}
        <div class="progress" style="width: 200px;">
          <div class="progress-bar bg-exp" style="width: 37%;" role="progressbar" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h2 class="text-center mt-2 mb-0">{{ angkatan_level }}</h2>
      </div>
    </div>
    <h1>Profile</h1>
    <div class="row justify-content-center">
      <!-- #loop -->
      {% for user in page_obj %}
      <div class="col-sm-6 col-lg-4 col-xl-3 d-flex justify-content-center">
        <div class="card">
          <img
            class="card-img-top rounded-circle img-thumbnail mx-auto mt-3"
            src=" {% static "img/foto/"|add:user.username|add:".jpg" %} "
            alt="pic"
          />
          <div class="card-body d-flex flex-column justify-content-end align-items-center pt-2">
            <h5 class="card-title text-center mb-0">{{ user.last_name }}</h5>
            <div class="container d-flex flex-column pt-3">
              <div class="d-flex justify-content-center mb-2">
                <div class="d-flex flex-column align-items-center mx-3">
                  <img
                    class="level-img d-block mb-2"
                    src=" {% static "icon/level/"|add:user.student.level|add:".png" %} "
                    alt="level"
                  />
                  <span class="badge badge-pill">{{ user.student.level }}</span>
                </div>
                <div class="d-flex align-items-center mx-3">
                  <a href="{% url 'heal' %}?target={{user.username}}" class="heal btn">Heal</a>
                </div>
              </div>
              <div class="d-flex align-items-center mt-2">
                <h5 class="bar mr-2 mb-0">HP</h5>
                <div class="progress w-100">
                  <div class="progress-bar bg-health" style="width: {{ user.student.hp }}%;" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="d-flex align-items-center mt-2">
                <h5 class="bar mr-2 mb-0">XP</h5>
                <div class="progress w-100">
                  <div class="progress-bar bg-exp" style="width: {{ user.student.xp_bar }}%;" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- endloop -->
        </div>
        <div class="row justify-content-center">
          <div class="pagination">
            <span class="step-links">
                <a href="?page=1" class="current">1</a>
                <a href="?page=2">2</a>
                <a href="?page=3">3</a>
                <a href="?page=4">4</a>
                <a href="?page=5">5</a>
                <a href="?page=6">6</a>
                <a href="?page=7">7</a>
            </span>
          </div>
        </div>
      </div>
    </main>
{% endblock main %}

{% block js %}
<script>
$('#profile').addClass('active');

$('.pagination a').each(function() {
  $(this).removeClass('current');
  if($(this).html() === '{{ page_obj.number }}') {
    $(this).addClass('current');
  }
});
</script>
{% endblock js %}
